
#wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.post{
    margin: 20px;
    width: 500px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.post-content{
    padding: 20px;
}

.post-content div{
    margin-bottom: 10px;
    display: inline-block;
}

.post-content_user{
    height: 100px;
    width: 100%;
}

.post-content_user-avatar{
    width: 75px;
    margin: 20px;
}

.post-content_user-name{
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    color: rgb(0, 106, 228);
    height: 100%;
    margin: 20px;
}

.post-content_user-name span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.post-content_content{
    width: 100%;
    font-family: sans-serif;
    font-size: 17px;
    margin-bottom: 0;
}

.post-content_text-title{
    margin-bottom: 10px;
    width: 100%;
}

.post-content_text-title-text{
    font-family: sans-serif;
    font-size: 35px;
    color: black;
    position: relative;
}

.post-content_text-title-text::after {
    content:' ';
    display:block;
    margin-top: 10px;
    border: 1.5px solid grey;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 10px 10px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

.post-content_img img{
    max-width:100%;
    max-height:100%;
    margin: 0 auto;
}

.post-info {
    width: 100%;
    height: 40px;
    margin-bottom: 0;
  }

  .post-info_date{
    float: left;
    color: grey;
  }

  .post-info_likes{
    float: right;
  }

  .post-info_like-button{
    background: rgb(255, 255, 255); 
    border-radius: 5px;
    border: 0.5px solid rgb(197, 197, 197);
    box-shadow: 0 0 0.5px rgba(0,0,0,0.5);
    color: rgb(6, 191, 247);
    padding: 0px 25px;
    text-align: left;
    display: inline-block;
    font-size: 20px;
  }

  .post-info_like-button:hover{
    background-color: rgb(6, 191, 247);
    color: rgb(255, 255, 255);
  }

  .post-info_like-button:active{
    background-color: rgb(6, 191, 247);
  }

  .post-info_like-button-counter{
      display: inline-block;
  }

  .content-text label{
      margin: 5px;
  }

  .comments-qty {
      display: block;
  }

  .comment-list {
      display: block;
  }

  .comment-list ul{
      
    display: block;
    list-style-type: none;
  }

  .comment-list li {
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    width: 100%;
  }

  .comment-list-item_author {
      padding: 10px;
      display: block;
  }

  .comment-list-item_text {
    padding: 10px;
    display: block;
  }

  .comment-list-item_date {
    padding: 10px;
    display: block;
  }